body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: white;
}
body {

background:black;

color:white;

font-family:monospace;

}


.card {

background:#121212;

padding:20px;

margin:20px;

border-radius:15px;

box-shadow:

0 0 10px cyan,

0 0 20px cyan;

transition:0.4s;

}
pre {

font-size:16px;

white-space:pre-wrap;

word-wrap:break-word;

}
iframe {

background: #020617;

box-shadow:

0 0 10px cyan,

0 0 20px cyan;

border-radius: 12px;

}


.card:hover {

transform:scale(1.02);

box-shadow:

0 0 20px cyan,

0 0 40px cyan;

}

/* Center everything */
.container {
    text-align: center;
    margin-top: 120px;
}

/* Logo */
.logo {
    font-size: 45px;
    margin-bottom: 5px;
    text-shadow: 0px 0px 10px #00e6ff;
}

/* Tagline */
.tagline {
    color: #ddd;
    margin-bottom: 30px;
}

/* Search box */
.search-box {
    display: flex;
    justify-content: center;
}
.review-box {

    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;

}
.loader {

width:60px;

height:60px;

border:8px solid #222;

border-top:8px solid cyan;

border-radius:50%;

animation:spin 1s linear infinite;

margin:auto;

margin-top:40px;

}


@keyframes spin {

0% {transform:rotate(0deg);}

100% {transform:rotate(360deg);}

}
pre {

    white-space: pre-wrap;

    word-wrap: break-word;

    overflow-wrap: break-word;

}

/* Input */
input {
    width: 420px;
    padding: 14px;
    border-radius: 30px 0 0 30px;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Button */
button {
    padding: 14px 25px;
    border-radius: 0 30px 30px 0;
    border: none;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #00c6ff;
}

/* Results card */
#results {
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.3);
    padding: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    text-align: left;
    animation: fadeIn 0.5s ease-in-out;
}

/* Section headings */
h3 {
    color: #00e6ff;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}